<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="customerList">
<div class="col-md-12 col-lg-12">
    <section class="content-header">
        <ol class="breadcrumb">
            <li class="active"><a th:href="@{/}" href="/"><i class="fa fa-dashboard"></i> 홈</a></li>
        </ol>
    </section>
    <br/><br/>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Customer List</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <p>CustomerList Main Page.</p>
            </div>
            <!--.box-body-->
        </div>
        <!--.box-->
    </section>
    <!--.content-->
</div>
<!--.col-md-12-->
</body>
</html>